*{
    background-color: darkblue;
}
h1{
    color: rgb(227, 212, 194);
}
h2{
    color: rgb(194, 22, 65);
}

table {
    border-radius: 3px;
    border-color: white;
    border-style: solid;
}

th {
    font-size: larger;
    color: lightgreen;
}